go 1.25.4

use (
	.
	./services/api-gateway
	./api/proto/common
	./api/proto/hft_engine
	./api/proto/risk_management
	./api/proto/rules_engine
	./api/proto/portfolio
	./api/proto/trade_execution
	./api/proto/user_config
	./pkg/indira
	./pkg/logger
	./services/data-ingestion
	./services/hft-engine
	./services/risk-management
	./services/rules-engine
	./services/trade-execution
	./services/user-config
	./services/orderstatus
	./services/portfolio
	./services/positions
)
